header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logoBox {
  display: flex;
  margin-top: 31px;
  margin-left: 215px;
}
header .logoWriting {
  display: flex;
  flex-direction: column;
}
header .logoWriting span:first-child {
  color: #720418;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-left: 5px;
}
header .logoWriting .line {
  width: 127px;
  height: 1px;
  background: rgba(0, 0, 0, 0.59);
  margin-left: 6px;
}
header .logoWriting span:last-child {
  margin-left: 8px;
  color: #241400;
  /* Текст в параграфах */
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}
header .menu {
  display: flex;
  gap: 21px;
  margin-top: 42px;
}
header .menu a {
  color: #241400;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 196.187%;
  text-decoration: none;
}
header .menu .orange {
  color: #e16a00;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 196.187%;
  text-decoration-line: underline;
}
header .hamburger {
  display: none;
}

.joinUs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-top: 23px;
  display: block;
}
.joinUs span {
  color: #241400;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 65px;
  display: block;
}

.responsivejoinUs img{
  display: none;
}

 /* responsive overlay and menu page */


 .respons img{
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 15px;
  margin-top: 22px;
  display: none;
  z-index: 2;
}



.respons .navatag {
display: flex;
flex-direction: column;
position: fixed;
top: 0;
right: 0;
margin-right: 15px;
margin-top: 18px;
margin-top: 120px;
margin-right: 15px;
text-align: right;
font-family: Montserrat;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 196.187%;
z-index: 2;
display: none;
}

.navatag a{
  display: flex;
  flex-direction: column;
  color: #F2F2F2;
  margin-top: 30px;
}

body .overlayresponsive{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(36, 20, 0, 0.90);
  display: none;
}

.overlayresponsive{
  z-index: 2;
}

/* ----- swipper catalog */

.slidermom{
  display: flex;
  gap: 70px;
}






/* ------- */

/* .responsmenutext a{
display: flex;
flex-direction: column;
margin-top: 70px;
margin-right: 15px;
color: #F2F2F2;
text-align: right;
font-family: Montserrat;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 196.187%;
} */


/* ---------- */

.sections {
  display: flex;
}
.section-1 {
  display: flex;
  width: 100%;
  margin-top: 30px;
  flex-direction: column;
}

.slider_main_card {
  display: flex;
  gap: 62px;
}
.slider-card1,
.slider-card2,
.slider-card3,
.slider-card4,
.slider-card5 {
  width: 170px;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 17px;
}

.slider-card1 img {
  width: 134.229px;
  height: 190px;
  flex-shrink: 0;
  margin-left: 17px;
  margin-right: 24.73px;
  margin-top: 20px;
}

.slider-card2 img {
  width: 134.229px;
  height: 190px;
  flex-shrink: 0;
  margin-left: 17px;
  margin-right: 24.73px;
  margin-top: 20px;
}


.slider-card3 img {
  width: 134.229px;
  height: 190px;
  flex-shrink: 0;
  margin-left: 17px;
  margin-right: 24.73px;
  margin-top: 20px;
}

.slider-card4 img {
  width: 134.229px;
  height: 190px;
  flex-shrink: 0;
  margin-left: 17px;
  margin-right: 24.73px;
  margin-top: 20px;
}

.slider-card5 img {
  width: 134.229px;
  height: 190px;
  flex-shrink: 0;
  margin-left: 17px;
  margin-right: 24.73px;
  margin-top: 20px;
}

.slider-card1,
.slider-card2,
.slider-card3,
.slider-card4,
.slider-card5 {
  width: 160px;
}

.book_title {
  color: #241400;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 196.187%; /* 27.466px */
  text-align: center;
  margin-top: 30.22px;
}
.book_subtitle {
  color: #241400;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 196.187%; /* 23.542px */
  text-align: center;
  padding-bottom: 16px;
}
.slider-card1 button,
.slider-card2 button,
.slider-card3 button,
.slider-card4 button,
.slider-card5 button {
  border: none;
  border-radius: 3px;
  background: #e16a00;
  box-shadow: 0px 3px 8px 0px rgba(225, 106, 0, 0.19);
  color: #fff;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
  line-height: 196.187%; /* 23.542px */
  text-transform: uppercase;
  margin: auto;
  width: 136px;
  margin-bottom: 17px;
}
.mainSection {
  display: flex;
  gap: 128px;
  flex-direction: column;
  margin-top: 135px;
}

.text-slide {
  max-width: 1272px;
  display: flex;
  margin-bottom: 50px;
  gap: 40px;
  justify-content: flex-start;
}
.section-1 {
  margin: auto;
  max-width: 1272px;
}
.book_catalog {
  display: flex;
  gap: 40px;
  margin-left: 271px;
}
.text-slide h1 {
  margin-left: 51px;
  color: #241400;

  /* Заголовок h2 */
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: 196.187%; /* 49.047px */
}
.catagory_baby {
  margin-left: 40px;
}
.slider_main_card {
  display: flex;
  justify-content: center;
}
.book_catalog {
  display: flex;
  color: #241400;
  align-items: center;

  /* Текст в параграфах */
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 196.187%; /* 25.504px */
}
.best-seller {
  color: #241400;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: 196.187%; /* 49.047px */
  margin-bottom: 50px;
}
.new-relaeses {
  color: #241400;

  /* Заголовок h2 */
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: 196.187%; /* 49.047px */
  margin-bottom: 50px;
}

.filex_direction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#sectionThree {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 148px;
  margin-bottom: 72px;
}
#sectionThree span {
  color: #241400;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: 196.187%;
}
#sectionThree .icons {
  display: flex;
  gap: 54px;
  margin-top: 22px;
}
.footerpage {
  background-color: #391f00;
  display: flex;
  flex-direction: column;
  /* display: flex;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  flex-shrink: 0;
  background-color: #391F00;
  box-sizing: border-box;
  padding-left: 192px;
  padding-right: 186px; */
}

.footerlibtext {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.footerbookstr {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  margin-left: 5px;
}

.footerlibbor {
  width: 150px;
  height: 1px;
  background-color: #ffffff;
}

.popularTag {
  color: #ffffff;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.footerTag {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.footertagbox {
  display: flex;
  gap: 91px;
  margin-top: 56px;
}

.footerallbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tagbox {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-decoration: none;
}

.footerlibblock {
  display: flex;
  gap: 7px;
  margin-top: 100px;
}

.footerMain {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  flex-shrink: 0;
  background-color: #391f00;
  box-sizing: border-box;
  padding-left: 192px;
  padding-right: 186px;
  text-decoration: none;
}

.textend {
  text-align: center;
  color: #ffffff;
  margin-top: 77px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 196.187%;
  font-family: "Montserrat",  sans-serif;
}
footer .footerMobileBox {
  display: none;
}

.responsivejoinUs{
  margin-top: 2px;
  display: none;
padding-left: 50px;
} 

.joincontent{
  display: none;
}


@media screen and (max-width: 911px) {
  header {
    display: flex;
    padding-left: 15px;
    padding-right: 33px;
  }
  header .logoBox {
    width: 177px;
    height: 42px;
    flex-shrink: 0;
    margin-left: 0px;
    margin-top: 16px;
  }
  header .menu {
    display: none;
  }
  header .joinUs {
    display: none;
  }
  header .hamburger {
    display: block;
  }
  main {
    display: flex;
    flex-direction: column;
  }

  .text-slide {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0px;
  }
  .text-slide h1 {
    margin-left: 16px;

  }
  .slider_main_card {
    display: flex;
    overflow-x: auto;
    justify-content: start;
    width: 100%;
    padding-left: 12px;
  }
  .book_catalog {
    margin: auto;
    overflow-x: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 12px;
    gap: 13px;

  }
  .catagory_baby{
    margin-left: 0px;
  }
 
  .button-prev {
    display: none;
  }
  .button-next {
    display: none;
  }
  .best-seller {
    text-align: center;
  }
  .new-relaeses {
    text-align: center;
  }

  footer {
    display: flex;
    justify-content: center;
  }

  footer .footerMain {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 166px;
    flex-shrink: 0;
    background-color: #391f00;
    box-sizing: border-box;
    padding-left: 38px;
    padding-right: 21.4px;
    padding-top: 13px;
  }
  footer .tagbox {
    display: none;
  }
  footer .footertagbox {
    justify-content: center;
    margin-top: 0px;
    padding-top: 0px;
  }
  footer .footerlibblock {
    justify-content: center;
    display: flex;
    margin-bottom: 4px;
    margin-top: 141px;
  }
  footer .footerMain {
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 0px;
  }
  footer .footerMobileBox {
    display: block;
    text-align: center;
  }
  footer .footerMobileBox a {
    padding: 8px;
    color: #f2f2f2;
    font-family: "Montserrat",  sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 196.187%; /* 23.542px */
  }
  footer .textend {
    margin-top: 130px;
    display: flex;
    justify-content: center;
  }
  footer .textend p:first-child {
    display: none;
  }
  footer .textend p:last-child {
    display: block;
    color: #fff;
    text-align: center;
    font-family: "Montserrat",  sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 196.187%; /* 23.542px */
    width: 175px;
  }
  footer .footerMobileBox .line {
    display: block;
    margin: auto;
    width: 250px;
    margin-top: 32px;
  }
}


.btnhide{
  display: none;
}

.alert{
  display: none;
}



  /* responsive overlay and menu page */


  .respons img{
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 15px;
    margin-top: 22px;
    display: none;
  }


  .responsxbtnjoin img{
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 15px;
    margin-top: 22px;
    z-index: 2;
  }
  

.respons .navatag {
display: flex;
flex-direction: column;
position: fixed;
top: 0;
right: 0;
margin-right: 15px;
margin-top: 18px;
margin-top: 120px;
margin-right: 15px;
text-align: right;
font-family: Montserrat;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 196.187%;
display: none;
}

  .navatag a{
    display: flex;
    flex-direction: column;
    color: #F2F2F2;
    margin-top: 30px;
  }

 body .overlayresponsive{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(36, 20, 0, 0.90);
    display: none;
  }

/* .responsmenutext a{
display: flex;
flex-direction: column;
margin-top: 70px;
margin-right: 15px;
color: #F2F2F2;
text-align: right;
font-family: Montserrat;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 196.187%;
} */
  

/* ---------- */






/* ----- Join Us page */
.responsivejoinUs{
  margin-top: 2px;
  display: block;
padding-left: 50px;
} 




.joinopenmodel{
  display: none;
}

.joinUs img{
  display: none;
}

.joincontentresponsive{
  width: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  flex-shrink: 0;

  text-align: center;
  padding: 20px;
  position: fixed;
  flex-shrink: 0;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  z-index: 2;
display: none;
}

.responsxbtnjoin img{
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 15px;
    margin-top: 22px;
  display: none;
}

responsxbtn{
  z-index: 2;
}

.joinboxingres{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.joininputnameres{
  width: 300px;
  border: 1px solid #CECECE;
  background: #FFF;

  height: 50px;
  flex-shrink: 0;
  color: #797667;
  
  font-family: 'Crimson Text', serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  box-sizing: border-box;
  padding-left: 22px;
  padding-bottom: 10px;
}

.joinbtnres{
  width: 300px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 5px;
border: 1px solid #CECECE;
background: #E16A00;
color: #FFF;

text-align: center;
font-family: 'Crimson Text', serif;
font-size: 19px;
font-style: normal;
font-weight: 700;
line-height: normal;
}



/* --------- */


  .joinrespons{
    display: block;
  }

  .sectionpage {
    display: flex;
    flex-direction: column;
  /* flex-wrap: wrap; */
  /* width: 100%; */
  width: 70%;

}


.secpag{
  margin-left: 7px;
  display: flex;
  margin-top: -70px;
  
  flex-wrap: wrap;
}

.secpag p{
  margin-left: 6px;
}
.cardmom img{
/* width: 380px; */
display: flex;
/* flex-direction: column; */
/* justify-content: center; */
/* flex-wrap: wrap; */
/* margin: auto;
margin-top: -120px;
margin-left: -125px; */
display: none;
}

.cardmomres img{
  width: 390px;
display: flex;
/* flex-direction: column; */
/* justify-content: center; */
/* flex-wrap: wrap; */
margin: auto;
margin-top: -130px;
margin-left: -10px;
}

.cardmomres{

  display: flex;
margin-bottom: -100px;
flex-shrink: 0;
}

.secabout{
 margin-top: px;
}
.cardmom{
  /* width: 50%;
  display: flex;
margin-bottom: -350px;
flex-shrink: 0; */
display: none;
}

.sectionbtn{
  width: 370px;
  height: 50px;
}



.catalogboxmom{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutboxmom{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 50px;
  
  width: 330px;
  
}


.deliverytext{
  color: #241400;
text-align: center;
max-width: 290px;
  }
